.fronteraHacksLogo {
    font-size: 80px; /*1.85rem;*/
    line-height: 122%; /*2.15rem;*/
}


.dateText {
    font-size: .85rem;
    line-height: 1.25rem;
}

.hookText {
    font-size: 1.075rem;
    line-height: 1.75rem;
    background: -moz-linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    background: linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block
}

.descriptionText {
    font-size: .9rem;
    line-height: 1.5rem;
}

.customBtnRadius {
    background-color: black;
}

.customBtnRadius::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .75rem;
    border: 2px solid transparent;
    background: linear-gradient(90deg, rgba(255, 240, 161, 1) 0%, rgba(255, 176, 118, 1) 50%, rgba(255, 90, 80, 1) 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.customBtnRadius:hover::before {
    background: linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%) border-box;
}

.btnText {
    font-size: .98rem;
    line-height: 1.5rem;
    background: -moz-linear-gradient(90deg, rgba(255, 240, 161, 1) 0%, rgba(255, 176, 118, 1) 50%, rgba(255, 90, 80, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 240, 161, 1) 0%, rgba(255, 176, 118, 1) 50%, rgba(255, 90, 80, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 240, 161, 1) 0%, rgba(255, 176, 118, 1) 50%, rgba(255, 90, 80, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.customBtnRadius:hover .btnText {
    background: -moz-linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    background: linear-gradient(90deg, rgba(139, 199, 255, 1) 0%, rgba(157, 111, 255, 1) 50%, rgba(255, 72, 215, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Fallback for browsers that do not support custom btn style */
@supports not ((-webkit-mask: none) or (mask-type: alpha)) {
    .customBtnRadius::before {
        content: none;
        /* Disable the pseudo-element */
    }
}

@media (min-width:768px) {
    .heroContainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .fronteraHacksLogo {
        font-size: 4rem;
        text-wrap: nowrap;
    }

    .dateText {
        font-size: 1.25rem;
    }

    .hookText {
        font-size: 1.85rem;
    }

    .descriptionText {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-right: 35%;
    }

    .fronteraLink {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .btnText {
        font-size: 1.5rem;
    }
}

/*Specifically for the Pillars Section of the homepage*/

.pillarsSection {
    text-align: center;
    padding: 2rem 0;
  }
  
  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

.pillarsContainer{
    display: flex;
    justify-content: space-around;
    align-items:center;

}

.pillar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.pillarImage{
    border-radius: 50%;
    object-fit: cover;
}

.pillarCaption{
    margin-top: 1 rem;
    font-size: 1rem;
}